NODE_ENV=production
PORT=3000
BASE_URL=https://danger-city-store-production.up.railway.app
SESSION_SECRET=CHANGE_THIS_TO_A_LONG_RANDOM_SECRET
DATABASE_URL=
DATABASE_SSL=false
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=https://danger-city-store-production.up.railway.app/auth/discord/callback
OWNER_DISCORD_ID=
DISCORD_TICKET_URL=https://discord.com
STORE_CURRENCY=DC
DEV_LOGIN_ENABLED=false
